<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypertars.neighborChat.dao.MessageDAO">

    <insert id="addNewMsg">
        INSERT INTO Message (msgid, author, rRange, sub, title, txt, coord)
        VALUES (#{msgid}, #{author}, #{rRange}, #{sub}, #{title}, #{txt}, #{coord});
    </insert>

    <select id="getMsgByMsgid" resultType="com.hypertars.neighborChat.model.Message" parameterType="java.lang.Integer">
        SELECT msgid, author, rRange, mtime, title, sub, txt, coord FROM Message
        WHERE msgid = #{msgid};
    </select>

    <select id="getAllMsgByUid" resultType="com.hypertars.neighborChat.model.Message" parameterType="java.lang.Integer">
        SELECT msgid, author, rRange, mtime, title, sub, txt, coord FROM Message NATURAL JOIN MailBox
        WHERE uid = #{uid};
    </select>

    <select id="getMsgByAuthor" resultType="com.hypertars.neighborChat.model.Message" parameterType="java.lang.Integer">
        SELECT msgid, author, rRange, mtime, title, sub, txt, coord FROM Message
        WHERE author = #{author};
    </select>

    <select id="getLastMsgid" resultType="java.lang.Integer">
        SELECT msgid FROM Message
        ORDER BY msgid DESC LIMIT 1;
    </select>
    
    <select id="notifyNewMessage" resultType="com.hypertars.neighborChat.model.Message" parameterType="java.lang.Integer">
        SELECT msgid, author, rRange, mtime, title, sub, txt, coord FROM Message NATURAL JOIN MailBox mb
        WHERE mb.uid = #{uid} AND mTime > (SELECT lastLog FROM Users WHERE uid = mb.uid);
    </select>
    
    <select id="notifyNewReply" resultType="com.hypertars.neighborChat.model.Message" parameterType="java.lang.Integer">
        SELECT DISTINCT(m.msgid), m.author, m.rRange, m.mtime, m.title, m.sub, m.txt, m.coord
        FROM Message m NATURAL JOIN MailBOX mb LEFT OUTER JOIN Reply r ON (m.msgid = r.msgid)
        WHERE mb.uid = #{uid} AND rTime > (SELECT lastLog FROM Users WHERE uid = mb.uid);
    </select>

    <select id="searchMsgByKeyword" resultType="com.hypertars.neighborChat.model.Message" parameterType="com.hypertars.neighborChat.model.Message">
        SELECT * FROM Mailbox NATURAL JOIN Message
        WHERE uid = #{author} AND (title LIKE #{txt} OR sub LIKE #{txt} OR txt LIKE #{txt});
    </select>

</mapper>
